{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	<div id="ajouter-section" class="container">


		{{ form_start(formAjouter, {'attr': {'novalidate': 'novalidate'}}) }}


		{{ form_row(formAjouter.nom, {'attr': {'placeholder': "Nom du produit" }}) }}
		<br>
		{{ form_row(formAjouter.description, {'attr': {'placeholder': "description du produit" }}) }}
		<br>
		{{ form_row(formAjouter.taille, {'attr': {'placeholder': "Taille du produit" }}) }}
		<br>
		{{ form_row(formAjouter.poid, {'attr': {'placeholder': "poid du produit" }}) }}
		<br>
		{{ form_row(formAjouter.famille, {'attr': {'placeholder': "famille du produit" }}) }}
		<br>
		{{ form_row(formAjouter.prix, {'attr': {'placeholder': "prix du produit" }}) }}
		<br>
		{{ form_row(formAjouter.photo, {'attr': {'placeholder': "photo du produit" }}) }}
		<br>
		{{ form_row(formAjouter.category ) }}
		<br>
		<button type="submit" class="btn btn-success">Ajouter produit</button>


		{{ form_end(formAjouter) }}
	</div>
{% endblock %}
