{% extends 'base.html.twig' %}


{% block title %}{% endblock %}


{% block body %}
	<div id="produit-section" class="container">
		<br>
		<br>
		<div class="card" style="width: 18rem;">
			<img src="{{ asset('uploads/images/'~ produit.imageFilename )}}" class="card-img-top" alt="Confiture bonne maman">
			<div class="card-body">
				<h5 class="card-title">{{ produit.nom }}</h5>
				<h7>
					<p class="card-text">description :
						{{ produit.description }}</p>
				</h7>
				<h6 class="card-text">taille :{{ produit.taille }}</h6>
				<h6 class="card-text">poid :{{ produit.poid }}</h6>
				<h6 class="card-text">famille :{{ produit.famille }}</h6>

			</div>
		</div>
	</div>
{% endblock %}
