{% extends 'base.html.twig' %}


{% block title %}{% endblock %}


{% block body %}
	<br>
	<br>
	<br>
	<br>
	<div id="produit-section" class="container">

		{% for produit in produitList %}
			<br>
			<br>
			<div class="card" style="width: 18rem;">
				<img src="uploads/images/{{ produit.imageFilename }}" class="card-img-top" alt="Confiture bonne maman">
				<div class="card-body">
					<h5 class="card-title">{{ produit.nom }}</h5>
					<h7>
						<p class="card-text">description :
							{{ produit.description }}</p>
					</h7>
					<h6 class="card-text">taille :{{ produit.taille }}</h6>
					<h6 class="card-text">poid :{{ produit.poid }}G</h6>
					<h6 class="card-text">{{ produit.famille }}</h6>
					<br>
					<br>
					<h6 class="card-text">prix :{{ produit.prix }}€ TTC</h6>

					<a href="{{ path('app_produit_details', {id: produit.id}) }}" class="btn btn-danger">Voir plus</a>
				</div>
			</div>


		{% endfor %}
	</div>
{% endblock %}
