{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	
	  {{ (produit.Nom) }}
		{{ (produit.description) }}
		{{ (produit.taille) }}
		{{ (produit.poid) }}
		{{ (produit.famille) }}
		{{ (produit.prix) }}


 <button type="submit" class="btn btn-success">Supprimer</button>


{% endblock %}
