{% extends 'base.html.twig' %}


{% block body %}
	<h1>
		Supprimer
	</h1>

	  {{ (produit.Nom) }}
		{{ (produit.description) }}
		{{ (produit.taille) }}
		{{ (produit.poid) }}
		{{ (produit.famille) }}


 <button type="submit" class="btn btn-success">Supprimer</button>


{% endblock %}
